* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-image: url("../img/mountains.png");
  background-size: 100% 700px;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
}
img {
    width: 200px;
    height: 300px;
    -webkit-filter: grayscale(75%);
    -moz-filter: grayscale(75%);
    -ms-filter: grayscale(75%);
    filter: grayscale(75%);
    border-radius: 50%;
    opacity: 0.8;
}
section {
    padding: 150px 300px 0;
}
h1, h2 {
    padding-top: 15px;
    text-shadow: 3px 3px 6px black, 0 0 1em #7b2828;
}
h2 {
    padding-bottom: 10px;
}
h3 {
    width: 12%;
    border: 1px solid white;
    margin: 30px 0 0 900px;
    border-radius: 20%;
    padding: 10px 0;
}
h3:hover {
    cursor: pointer;
    color: #7b2828;
    border-color: #7b2828;
    transition: .3s;
}
nav li {
    float: left;
    list-style-type: none;
    font-size: 20px;
}
nav {
    padding-left:20px;
}
li a {
    padding: 15px;
    text-decoration: none;
    color: white;
}
li a:hover {
    cursor: pointer;
    color: #7b2828;
    transition: .3s;
}
p,h1 {
    text-shadow: 3px 3px 6px black, 0 0 1em #7b2828;
}
li,h3 {
    text-shadow: 1px 1px 2px black, 0 0 1em #7b2828;
}