* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-image: url("../img/alps.jpg");
  background-size: cover;
  -webkit-background-size:cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  font-family: 'Architects Daughter', cursive;
}
nav li {
    float: left;
    list-style-type: none;
    font-size: 20px;
}
nav {
    padding-left:20px;
}
li a {
    padding: 15px;
    text-decoration: none;
    color: white;
}
li a:hover {
    cursor: pointer;
    color: #7b2828;
    transition: .3s;
}
li {
    text-shadow: 1px 1px 2px black, 0 0 1em #7b2828;
}
header {
    margin-top: 30px;
}
h3 {
    font-size: 25px;
}
th {
  font-weight: bold;
  font-size: 30px;
  width: 400px;
  text-shadow: 3px 3px 6px black, 0 0 1em #7b2828;
}
table {
  margin-top: 50px;
}
td {
  text-align: center;
  font-size: 20px;
  text-shadow: 3px 3px 6px black, 0 0 1em #7b2828;
  padding: 50px 30px 0 30px;
}
progress {
    display: block;
    color: #7b2828;
    background: grey;
    border: 2px solid black;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 500px;
    height: 25px;
    text-align: center;
    opacity: 0.7;
}
 ::-webkit-progress-bar {
     background: #7b2828;
 }
 ::-webkit-progress-value {
    background: #947979;
 }