* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-image: url("../img/alpswinter.jpg");
  background-size:  100% 100%;
  -webkit-background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  font-family: 'Architects Daughter', cursive;
}
nav li {
    float: left;
    list-style-type: none;
    font-size: 20px;
}
nav {
    padding-left:20px;
}
li a {
    padding: 14px;
    text-decoration: none;
    color: white;
}
li a:hover {
    cursor: pointer;
    color: #7b2828;
    transition: .3s;
}
li {
    text-shadow: 1px 1px 2px black, 0 0 1em #7b2828;
}
header {
    margin-top: 30px;
}
h3 {
    width: 12%;
    border: 1px solid white;
    margin: 0 0 0 80%;
    border-radius: 20%;
    padding: 10px 0;
}
h3:hover {
    cursor: pointer;
    color: #7b2828;
    border-color: #7b2828;
    transition: .3s;
}
img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    opacity: 0.8;
}
aside {
    float: left;
}
aside ul li {
    padding: 15px;
}
h2 {
    text-shadow: 3px 3px 6px black, 0 0 1em #7b2828;
    font-size: 40px;
}
.popup {
	position: absolute;
	height:100%;
	width:100%;
	top:0;
	left:0;
	display:none;
}

	.popup_bg {
		background:rgba(0,0,0,0.4);
		position:absolute;
		z-index:1;
		height:100%;
		width:100%;
	}
	
	
	.form {
		position: relative;
		margin:4px auto;
		z-index:2;
		width:300px;
		padding:40px 20px;
		background: #4e4e4e;
		opacity: 0.7;
		border:1px solid #666666;
		border-radius:20px;
		box-shadow:0 0 2px rgba(0,0,0,0.5);
		margin-top: 200px;
	}

		.form input {
			width:96%;
			padding:5px 2%;
			margin:10px 0;
			border-radius:4px;
		}
		textarea {
		    width: 96%;
		    height: 100px;
		}
input, button {
    box-shadow: 2px 2px 4px black, 0 0 1em #7b2828;
    border: 2px solid black;
    border-color: #7b2828;
}
textarea {
    box-shadow: 2px 2px 4px black, 0 0 1em #7b2828;
    border: 2px solid black;
    border-color: #7b2828;
}
img {
width:350px;
height: 350px;
}
.gmail {
    position: absolute;
    left: 5%;
    top: 10%;
}
.facebook {
    position: absolute;
    left: 38%;
    top: 15%;
}
.in {
    position: absolute;
    left: 70%;
    bottom: 30%;
}
.instagram {
    position: absolute;
    left: 20%;
    top: 40%;
}
.vk{
    position: absolute;
    top:45%;
    left: 55%;
}
.vk1{
    width: 450px;
}