* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-image: url("../img/lake.jpg");
  background-size: cover;
  -webkit-background-size:cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
}
nav li {
    float: left;
    list-style-type: none;
    font-size: 20px;
}
nav {
    padding-left:20px;
}
li a {
    padding: 15px;
    text-decoration: none;
    color: white;
}
li a:hover {
    cursor: pointer;
    color: #7b2828;
    transition: .3s;
}
li {
    text-shadow: 1px 1px 2px black, 0 0 1em #7b2828;
}
header {
    margin-top: 30px;
}
h3 {
    width: 12%;
    border: 1px solid white;
    margin: 0 0 0 80%;
    border-radius: 20%;
    padding: 10px 0;
}
h3:hover {
    cursor: pointer;
    color: #7b2828;
    border-color: #7b2828;
    transition: .3s;
}
h2 {
    text-shadow: 3px 3px 6px black, 0 0 1em #7b2828;
    font-size: 40px;
}
#lefth {
     text-shadow: 3px 3px 6px black, 0 0 1em #7b2828;
    font-size: 30px;
    padding: 50px 0 50px 50px;
}
.left { 
text-shadow: 3px 3px 6px black, 0 0 1em #7b2828;
padding: 5px 0 0px 50px ;
font-size: 20px;
font-style: italic;
}
#rocknroll {
    float: left;
    height: 400px;
    width: 300px;
}
#barcatering {
    float: right;
    height: 400px;
    width: 300px;
}
#righth {
    text-shadow: 3px 3px 6px black, 0 0 1em #7b2828;
    font-size: 30px;
    padding: 50px 50px 50px 0px;
}
.right {
    text-shadow: 3px 3px 6px black, 0 0 1em #7b2828;
    padding: 5px 50px 0px 0 ;
    font-size: 20px;
    font-style: italic;
}
#photo {
    width: 100%;
    height: 545px;
}
img {
    opacity: 0.8;
    /*-webkit-transition: all 1s ease;*/
    /* -moz-transition: all 1s ease;*/
    /*   -o-transition: all 1s ease;*/
    /*  -ms-transition: all 1s ease;*/
    /*      transition: all 1s ease;*/
          border: 1px solid #7b2828;
}
img:hover {
    -webkit-filter: contrast(100%);
    /*width: 75%;*/
    /*height: 75%;*/
    opacity: 1;
}
.cocktail {
    position: absolute;
    left: 600px;
}
.competition2 {
    position: absolute;
    top: 400px;
    right: 350px;
}
.competition {
    position: absolute;
    left: 500px;
    top: 300px;
}
.dianasquare {
    position: absolute;
    top: 100px;
    left: 250px;
}
.masochcafe {
    position: absolute;
    top: 300px;
    left: 400px;
}
.rocknrollpicassoclub {
    position: absolute;
    left: 120px;
    top: 430px;
}
img
{
    padding: 10px 10px 30px 10px;
	background: #eee;
	border: 1px solid #7b2828;
    box-shadow: 0px 2px 15px #7b2828;
	-moz-box-shadow: 0px 2px 15px#7b2828;
    -webkit-box-shadow: 0px 2px 15px #7b2828;
	position: relative;
	margin:25px 0 0 15px;
}
#arrow {
    padding: 0;
    background: none;
    border: none;
    box-shadow: none;
    margin-right: 220px;
    /*margin-bottom: 10px;*/
    width: 80px;
    height: 80px;
}